{% extends 'base.html.twig' %}

{% block title %}Hello MaisonHoteController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>
					{{maison.localisation}}
				</h1>
				<p>{{maison.description}}</p>
                <a href="{{ path('maison_hote_delete', {'id': maison.id}) }}" class="btn btn-light">delete</a>
			</div>
		</div>
	</div>

{% endblock %}
